<!DOCTYPE html>
<html>
<head>
  <title>Visit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='header'>
    <h1>Visit The Museum</h1>
    <h2>Interactive Museum Technology</h2>
  </div>
  
  <div id='nav'>
    
  </div>
  
   <%= form_tag(works_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="search">
      <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search Works" %>
      <input type='submit' name='submit' value='Go'><i class="icon-search"></i></button>
    </div>
  <% end %>
  
<%= yield %>

</body>
</html>
